@charset "UTF-8";


body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, object, iframe, pre, code, p, blockquote, form, fieldset, legend, table, th, td, caption, tbody, tfoot, thead, article, aside, figure, footer, header, hgroup, menu, nav, section, audio, video, canvas {
	margin: 0;
	padding: 0;
}


ul, ol { list-style:none; }



.clearfix { zoom:1; }
.clearfix:after {
	display:block;
	clear:both;
	content:"";
}
