

/*ログインフォームの枠-------------------------------*/

#login_form{
  width:350px;
  margin:30px auto;
  padding:20px;
  border-style:solid;border-width:2px;
  font-weight: bold;
  
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px; }

#login_form .form-title{
  font-family: Arial;
  font-size: 30px;
  padding-bottom: 6px;
  border-bottom:solid 2px #099;
  margin-bottom: 20px;
  text-align: center;
  color:#099;
    }

/*ログインフォームの入力エリア-------------------------------*/

input[type="email"],
input[type="id"] {
  width: 300px;
  padding: 4px;
  font-size: 14px; }
    
/*ログインフォームの送信ボタン-------------------------------*/

.submit{
  text-align:center; }

.submit input{
	font-family: Arial;
	text-decoration:none;
	padding:8px 18px;
	font-size:16px;
	margin-top:30px;
	border:none;}	

.submit input:hover{ }

/*代表者入力画面-------------------------------*/


.daihyo_entry dl{
	background-color:#7EA7F1;
	}

.daihyo_entry dl:before{
	content:"";

	display: table;
	clear: both;
	width:100%;
	padding-top:5px;
	background-color:#FFF;
}


.daihyo_entry dl dt{
	float:left;
	clear:left;
	width:250px;
	display:table;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:20px;
	background-color:#7EA7F1;
	color:#FFF;
	font-weight:bolder;

	}

.daihyo_entry dl dt　input{
	height:2em;

	}
	
.daihyo_entry dl dd{
	clear:right;
	margin-left:270px;
	background-color:#CCC;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	}
	
/*サブミットボタン-------------------------------*/

.form-submit-wraper:before{
	clear:both;
	content:" ";
	display:table;
	margin-top:30px;
	}
	
.form-submit-wraper{
	

	margin-bottom:30px;
	text-align:center;
	
	margin: 0;


background: -webkit-gradient(linear, left top, right bottom, from(#ddd), color-stop(0.25, #ddd), color-stop(0.25, white), color-stop(0.5, white), color-stop(0.5, #ddd), color-stop(0.75, #ddd), color-stop(0.75, white), to(white));
background: -moz-linear-gradient(-45deg, #ddd 25%, white 25%, white 50%, #ddd 50%, #ddd 75%, white 75%, white);
background: linear-gradient(-45deg, #ddd 25%, white 25%, white 50%, #ddd 50%, #ddd 75%, white 75%, white);
background-size: 4px 4px;
	

	}
	
.form-submit-btn{

	padding-top:30px;
	padding-bottom:30px;
	margin:0 auto;

	}

.form-submit-btn input{
	width:150px;
	background-color:#8CB9DF;
	color:#FFFFFF;
	text-align:center;
	font-size:18px;
	font-weight:bolder;
	padding-top:10px;
	padding-bottom:10px;
	padding-left:15px;
	padding-right:15px;
	
	}

.form-submit-btn input:hover{
	opacity: 0.7;filter:alpha(opacity=70);
	color:yellow;
	}


/*通常テーブル border
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*通常テーブル① 空箱--------------------------------*/

table.sankaentry{
	border-spacing:0;
	border-style:solid;border-width:1px;
	border-collapse:collapse;
	font-size:85%;
	}

table.sankaentry tr th{
	text-align:center;
	padding-top:5px 3px;
	border-style:solid;border-width:1px;
	vertical-align:middle;
	background-color:#333;
	color:#FFF;
	}

table.sankaentry tr td{
	padding:5px 5px;
	border-style:solid;border-width:1px; }

table.sankaentry tr td select{
	font-size:85%; }

.input20{
	width:20px;}
.input50{
	width:50px;}

.input100{
	width:100px;}

/*メニュー
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/
/*通常テーブル① 空箱--------------------------------*/

.mainmenu{
	}
	
.mainmenu ul li{
	float:left;
	width:30%;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	color:#FFF;
	-moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -khtml-border-radius: 10px; 
    border-radius: 10px;
	list-style-type:none;
	margin-right:5%;
	margin-bottom:15px;
	-pie-border-radius: 10px;
	

	
	-webkit-box-shadow:1px 2px 5px #666;/* webkit */
	-moz-box-shadow:1px 2px 5px #666;/* fx */
	-pie-box-shadow:1px 2px 5px #666;
	-o-box-shadow: 1px 2px 5px #666;
	box-shadow: 1px 2px 5px  #666;
	

	background: -webkit-gradient(linear, left top, left bottom, from(#06C), to(#036));/* webkit */
	background: -moz-linear-gradient(top,  #06C,  #036);/* fx */
    -pie-background:linear-gradient(top,  #06C,  #036);/* PIE */
	background: linear-gradient(to bottom, #06C, #036);
	
	/*------------PIE setting----------*/
    behavior: url(PIE.htc);
   /*---------------------------------*/
	}

.mainmenu ul li:nth-child(3n){
	margin-right:0;
}

.mainmenu ul li a{/*リンクされた文字*/
    color:#fff;
    font-style:normal;
    text-decoration:underline;
}
.mainmenu ul li a:link {/*未訪問のリンク*/
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
.mainmenu ul li a:visited {/*訪問後のリンク*/
    color:#fff;
    font-style:normal;
    text-decoration:none;
}
.mainmenu ul li a:hover {/*マウスをのせたとき*/
    color:#FF0;
    font-style:normal;
    text-decoration:none;
}
.mainmenu ul li a:active {/*クリック中*/
    color:#fff;
    font-style:normal;
    text-decoration:none;
}

.sanka_kensaku{
	width:70%;
	margin:0 auto;
	
	}

.sanka_kensaku dl:before{
	content:"";

	display: table;
	clear: both;
	width:100%;
	padding-top:5px;
	background-color:#FFF;
}

.sanka_kensaku dl{
	background-color:#CEE1BB;
	}


.sanka_kensaku dl dt{
	float:left;
	clear:left;
	width:150px;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	}

.sanka_kensaku dl dd{
	clear:right;
	margin-left:170px;
	background-color:#eee;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:15px;
	
	}