/** 基本設定
==========================================================================**/

figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;

}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}


* {
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
body {
	color:#000;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    -webkit-text-size-adjust: 100%;
	 overflow-x: hidden;
}

#Stage{
	position:absolute;
	top:50%;}



img {
	border:0;
	vertical-align:bottom;
}

ol{
list-style-position:inside;
}

.clearfix:after {
  content: ".";  /* 新しい要素を作る */
  display: block;  /* ブロックレベル要素に */
  clear: both;
  height: 0;
  visibility: hidden;
}

.clearfix {
  min-height: 1px;
}		

/** パララックス用
==========================================================================**/
  @media(min-width: 1040px){
 
  .parallax-window {
        background: transparent;
		background-size: 100%;
		background-attachment:fixed;
		background-position:center center;
		margin:200px 0 100px 0;
		min-height:70%;
      }}

@media(min-width: 721px) and (max-width: 1040px){

  .parallax-window {
        background: transparent;
		background-size:auto 100%;
		background-attachment:fixed;
		background-position:center center;
		margin:70px 0;

      }}

@media(max-width: 720px){
  .parallax-window {
        background: transparent;
		background-size: cover;
		background-attachment:fixed;
		background-position:center center;
		margin:70px 0;
		background-repeat:no-repeat;

      }}


#top_index{
  width: 100%;
  height: 100%;
  min-height: 100%;
}



/** header背景
==========================================================================**/

#bgImgArea {
  position:relative;
  left:0;
  width:100%;
  min-width:980px;
  height:350px;
  z-index:3;
  box-shadow:#000000 3px;
}

#bgImgArea p{
  position:relative;
  width:980px;
  height:350px;
  margin:0 auto;
}
#bgImgArea a{
  position:absolute;
  z-index:10;
  right:10px;
  bottom:10px;
  padding:2px 10px;
  background:rgb(255, 255, 255);
  background:rgba(255, 255, 255, 0.6);
  border-radius: 2px;
  -webkit-border-radius:2px;
  -moz-border-radius:2px;
  text-decoration:none;
}



/*背景　
""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""""*/

 svg {
   width: 100%;
   height: 100%;
   margin:0 auto;
   position:absolute;
   }

 svg > span {
   position: relative;
   top: 0;
   right: 0;
       }


 path {
   fill: transparent;
      }
	 /* 背景の色を取る場合はこれ取る
	  */


 polyline {
   stroke-width: 1px;
      }

 #cyclothon path {
  stroke-width:1px;
  stroke: #fff;

      }

  


#sb-site{
	height:100%;}

@media(min-width: 721px){
/*--------------------------Slidebars--------------------------*/


.sb-slidebar {
	background-color: #222222; /* Background colour. */
	color: #e8e8e8; /* Text colour. */
}

.sb-slidebar a {
	color: #FF3971;
	text-decoration: none;
}

.sb-slidebar a:hover {
	color: #E83165; /* Link hover colour. */
	text-decoration: underline;
}

/* Main Menu */
.sb-menu { /* Apply to <ul> or <ol>. */
	padding: 0;
	margin: 0;
	list-style-type: none;

}

.sb-menu li {
	width: 95%;
	padding: 0;
	margin: 0;
	border-top: 1px solid rgba(255, 255, 255, 0.1); /* Will lighten any background colour you set. */
	border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* Will darken any background colour you set. */
}

.sb-menu > li:first-child {
	border-top: none; /* Removes top border from first list item.. */
	border-bottom: none; /* Removes top border from first list item.. */
	height:50px;
}
.sb-menu > li:nth-child(0n+2){
	border-top: none; /* Removes top border from first list item.. */
}

.sb-menu > li:last-child {
	border-bottom: none; /* Removed bottom border from last list item. */
}

.sb-menu li a {
	width: 100%; /* Makes links full width. */
	display: inline-block;
	padding: 1em 0 1em 4%; /* Creates an even padding the same size as your font. */
	color: #f2f2f2;
}

.sb-menu li a:hover {
	text-decoration: none;
	background-color: rgba(255, 255, 255, 0.05); /* Will lighten any background colour you set. */
}

/* 左メニューボーダー */
.sb-left .sb-menu li a {
	border-left: 3px solid transparent;
}

.sb-left .sb-menu li a:hover {
	border-left: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* 右メニューボーダー */
.sb-right .sb-menu li a {
	border-right: 3px solid transparent;
}

.sb-right .sb-menu li a:hover {
	border-right: 3px solid; /* Removes transparent colour, so border colour will be the same as link hover colour. */
}

/* Left */


.sb-menu li .sb-open-right, .sb-menu li small {
	display: inline-block;
	padding: 14px;
}

.sb-menu li img {
	margin: 14px;
}

/* Right */
/* Slidebar Type */

.sb-slidebar, .sb-slidebar h3 {
	color: #F0F0F0;
}

.sb-slidebar ul.sb-nav li a {
	color: #DEDEDE;
}

.sb-slidebar ul.sb-nav li a:hover {
	color: #C7C7C7;
	text-decoration: none;
}

.sb-slidebar ul.sb-nav li span:hover {
	color: #C7C7C7;
}

}


@media(max-width: 720px){
	
	
.sb-slidebar {
	display:none;}
	
	
	}

/* ---- particles.js container ---- */


	
#all{
	height:100%;}
#tour_all{
	height:100%;}
	
#loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: #000;
  z-index: 999999998;
}
#loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 999999999;
}

@media(min-width: 721px){
	
	.mbmenu{
		display:none;}
		
}


.error{
	text-align:center;
	font-size:130%;
	font-weight:bolder;}
	
	
	
	
	
	@font-face {
	font-family: "open";
	font-style: normal;
	font-weight: 300;
	src: local("Open Sans Light"), local("OpenSans-Light"), url(https://themes.googleusercontent.com/static/fonts/opensans/v6/DXI1ORHCpsQm3Vp6mXoaTZ1r3JsPcQLi8jytr04NNhU.woff) format('woff');
}

*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}


table.border a {
	display: block;
	margin: auto;
	text-decoration: none;
	color: #fff;
}


.mkbtn {
	width:90%;
	color:fff;
	text-decoration:none;
	background-color:#555555;
	border:1px solid #555555;
	padding:15px 0;}
	
.mkbtn:hover{
	color:#A20002;
	background-color:#fff;
	border:1px solid #A20002;


	
	}
	
	
	
	
.moushikomi_adjust{
	width:100%;
	text-align:center;
	margin-top:5%}	
	
	
	
.moushikomi {
	display: inline-block;
	width: 40%;
	height: 54px;
	text-align: center;
	text-decoration: none;
	line-height: 54px;
	outline: none;
	position: relative;
	z-index: 2;
	border: 2px solid #333;
	color: #fff;
	line-height: 50px;
	-webkit-perspective: 300px;
	perspective: 300px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin:15px;

}
.moushikomi::before,
.moushikomi::after {
	position: absolute;
	z-index: -1;
	display: block;
	content: '';
}
.moushikomi,
.moushikomi::before,
.moushikomi::after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all .3s;
	transition: all .3s;
}
	
	

.moushikomi:hover {
	color: #333;
}
.moushikomi::after {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #333;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
	-webkit-transform: rotateX(0);
	transform: rotateX(0);
}
.moushikomi:hover::after {
	-webkit-transform: rotateX(-180deg);
	transform: rotateX(-180deg);
}	
	
	
	
	